@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


/* GENERAL
-------------------------------------------------- */
html {
	min-width: 240px;
	width: 100%;
}

body {
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0 auto;
	background: #bae3e4 url(../img/bg.png);
}
	
img {
	display: block;
	width: 100%;
}

h1{
	font-family:'Open Sans', sans-serif;
	font-size: 16px;
	padding:10px 0 0 0;
}

#logo {
		text-align: center;
}


#logo img{
	height: 90px;
}


@media only screen and (min-width: 37.5em) {
	#logo {
	width:100px;
	float: left;
  	clear: none;
}
}
	

/* Navigation 	
-------------------------------------------------- */	
#top_menu{
	overflow:hidden;
}
.nav {
	position: relative;
	margin: 30px 0;

}
.nav ul {
	margin: 0;
	padding: 0;
	
}
.nav li {
	margin: 0 10px 10px 3px;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #fff;
	line-height: 100%;
}
.nav a:hover {
	color: #e17659;
}

.nav .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}

/* VIDEO
-------------------------------------------------- */	
#video {
	height: 450px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (min-width: 37.5em) {

header {
	vertical-align: top;
	}

.logo img {
	width:90%;
}

}


/* Buy Button
-------------------------------------------------- */	
.buy-btn{
background: #e17659;
border-radius: 100px;
color: #fff;
display: block;
font-family: "Arial Rounded MT Bold";
font-size: 12px;
letter-spacing: 1px;
line-height: 18px;
margin: auto;
margin-top: 50px;
padding: 8px 0px 7px 0px;
text-align: center;
text-transform: uppercase;
width: 186px;
text-decoration: none;
}

.buy-btn:hover {
  background: #f4cb62;
  text-decoration: none;
}


/* White Section
-------------------------------------------------- */	
.section.white {
	margin:60px auto;
	background: #fff;
	color: #2f3238;
}
.section {
	display: block;
	padding:20px;
}

.bucket {
	padding-bottom: 3%;
	margin:auto 0;
	
	}

@media only screen and (min-width: 47em) {

.city {
	overflow: hidden;
	width: 80%;
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 20px;
	
	}
	
	
.shift_left {
			text-align:center;
			max-width:80%;
			margin: 0 auto;
		}
}


/* Carousel
-------------------------------------------------- */	

.carousel {
	padding-bottom: 56.23%; /* Image aspect ratio: height / width * 100 */
	position: relative;
	}
	
.carousel-items img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	}
	
.carousel-items [data-state="current"] {
	z-index:100;
	}
	
.carousel-items [data-state="incoming"] {
	
	z-index : 101;
	}
	
.carousel-buttons {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	}


.next{
  position:absolute;
  margin-top:60px;
  display: block;
  float: right;
  width: 42px;
  height: 42px;
  background: url(../img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  right: 10px;
}

@media only screen and (min-width: 47em) {
	.next{
		margin-top:300px;
	}
}

.previous{
  position:absolute;
  left: 10px;
  width: 42px;
  height: 42px;
  background: url(../img/arrows.png) no-repeat;
  text-indent: -9999px;
  border: 0;
  top: 50%;
  margin-top: -21px;
}

/* 	Animation
-------------------------------------------------- 

.element-animation{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: ;
  animation-fill-mode:forwards; /*when the spec is finished*
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*
}

@keyframes animationFrames{
  0% {
    left:0px;
    top:-25px;
    opacity:0;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    left:0px;
    top:-25px;
    opacity:0;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}
*/	



/* 	Footer
-------------------------------------------------- */	
footer{
	font-family:"Arial Rounded MT Bold";
	color: #C33;
	text-align:center;
}








